extends ./layout/index

block content
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="/img/nosotros.webp", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1= page
                p ¡Bienvenidos a Viajes Mundo Mágico! Somos una agencia de viajes dedicada a transformar tus sueños de viaje en experiencias inolvidables. Con años de experiencia en la industria, ofrecemos un servicio personalizado que abarca desde la reserva de vuelos y hoteles hasta la organización de tours y actividades exclusivas. Nuestro equipo de expertos está comprometido en brindarte asesoramiento detallado y opciones a medida para que tu aventura sea perfecta en cada detalle. Nos enorgullece ofrecer atención al cliente de primera clase, asegurándonos de que cada paso de tu viaje sea sin complicaciones y agradable. Descubre el mundo con nosotros, sumérgete en nuevas culturas y vive momentos mágicos que recordarás para siempre. Viajar nunca fue tan fácil y emocionante como con Viajes Mundo Mágico. ¡Déjanos ser tu guía en la aventura de tu vida!
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p La seguridad de nuestros usuarios es nuestra máxima prioridad. Nos aseguramos de que todas las transacciones sean seguras.

                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos Unicos
                    p Descubre destinos únicos y experiencias inolvidables con nuestras ofertas exclusivas.

                .col-md-4
                    img(src="/img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios Bajos
                    p Ofrecemos las mejores tarifas del mercado para que puedas disfrutar de tus viajes sin preocuparte por tu presupuesto.