extends ./layout/index

block content
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="/img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1= page
                p Lorem ipsum dolor sitamet, consectetur adipiscingelit. Cras nec dignissim sem.Mauris justo odio, venenatis aciaculis ut, faucibus vitae mi.Cras fringilla porta nunc sitamet tincidunt. Donec nunc est,lacinia eget ornare id, auctordapibus augue. Ut ac velit velaugue mollis convallis sit ametsit amet magna. Curabitur ornarepretium arcu, a tempus urnafermentum vitae. Aliquamfermentum purus risus, inullamcorper ex pellentesque in.Maecenas quis felis ut erosvolutpat sagittis vitae nectellus. Suspendisse non estvenenatis, efficitur enim at,consectetur justo. Morbi turpiseros, sagittis commodo tristiqueat, mollis non diam. Aeneansuscipit dictum diam sit ametgravida.
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Morbi turpiseros, sagittis commodo tristiqueat, mollis non diam. Aeneansuscipit dictum diam sit ametgravida.

                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos Unicos
                    p Morbi turpiseros, sagittis commodo tristiqueat, mollis non diam. Aeneansuscipit dictum diam sit ametgravida.

                .col-md-4
                    img(src="/img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Precios Bajos
                    p Morbi turpiseros, sagittis commodo tristiqueat, mollis non diam. Aeneansuscipit dictum diam sit ametgravida.