extends ./layout/index

block slider 
    .slider 
        h1 Buenos Aires 
        em Magica

block content
    main.container.mt-5 
        h2.text-center.mb-5 Sobre nosotros
        .row.mb-5
            .col-md-6 
                p ¡Bienvenidos a Viajes Mundo Mágico! Somos una agencia de viajes dedicada a transformar tus sueños de viaje en experiencias inolvidables. Con años de experiencia en la industria, ofrecemos un servicio personalizado que abarca desde la reserva de vuelos y hoteles hasta la organización de tours y actividades exclusivas.
                p Nuestro equipo de expertos está comprometido en brindarte asesoramiento detallado y opciones a medida para que tu aventura sea perfecta en cada detalle. Nos enorgullece ofrecer atención al cliente de primera clase, asegurándonos de que cada paso de tu viaje sea sin complicaciones y agradable.
            .col-md-6
                img(src="/img/inicio_nosotros.webp", alt="imagen sobre nosotros", class="img-fluid")

        include ./layout/blockTravels

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 10% de descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo 2025 - 28 de marzo 2025
                        p.precio u$s 2500

    .container 
        h2.my-5.text-center Testimonios de nuestros clientes
        include ./layout/blockTestimonials
 
